.place__image {
  margin: 0;
  padding: 0;
  grid-area: image;
  grid-row-start: auto;

  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}



@media screen and (max-width: 767px) {
  .place__image {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 1025px) {
  .place__image {
    max-width: 460px;
  }
}
