.header__logo {
  max-width: 176px;
  min-height: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 142px;
  }
}
