.intro__text {
  padding: 0 0 34px;
  margin: 0;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 1.63;

  color: #fff;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
