.cover {
  margin: 0;

}

@media screen and (max-width: 767px) {
  .cover {
    margin: 65px 0;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 90px 0;
  }
}

@media screen and (min-width: 1023px) {
  .cover {
    margin: 92px 0;
  }
}

@media screen and (min-width: 1279px) {
  .cover {
    margin: 92px 48px;
  }
}
