.intro__title {
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-style: normal;
  font-weight: 900;

  font-size: calc(32px + (56 - 32) * (100vw - 320px) / (1280 - 320));
  line-height: 1.07;

  color: #fff;
  margin-bottom: 40px;
}

@media screen and (max-width: 426px) {
  .intro__title {
    line-height: 1.09;
    font-size: 32px;
    max-width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 767px) {
  .intro__title {
    line-height: 1.07;
    font-size: 54px;
    max-width: 690px;
  }
}
